*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

header {
    width: 100%;
    height: 280px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 4px solid black;
}

header h2{
    color: black;
    font-size: 30px;
    padding: 0;
    margin-left: 60px;
    margin-top: 40px;
}

header nav ul {
    margin-right: 20px;
    font-size: 20px;
}

header nav ul li {
    display: inline-flex;
    margin-right: 25px;
    justify-content: space-around;
    line-height: 60px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

div.avatar {
    height: 80px;
    width: 30%;
    
    display: flex;
    flex-wrap: wrap;
justify-content: center;
}

div.avatar img{

    height: 130px;
    width: 250px;
    margin-top: 27px;
    margin-right: 140px;
   
}

footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;

}

 

footer h3 {
    font-size: 40px;
    color: black;
    margin-left: 80px;
    margin-top: 20px;
    padding: 0;
}

footer  nav ul  {
    margin-right: 20px;
    font-size: 20px;
    border-left: 4px solid black;

}

footer nav ul li {
    display: inline-flex;
    margin-right: 25px;
    justify-content: space-around;
    line-height: 60px;
    margin-left: 28.5px;
    margin-top: 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: black;
   
}


section.about-me {
width: 100%;
height: 250px;
display: inline-flex;
flex-wrap: wrap;
background-color: grey;
}

div.about-me-heading {
    width: 20%;
  display: flex;
  flex-wrap: wrap;
    font-size: 30px;
    color: black;
    margin-top: 40px;
    margin-left: 100px;
}

div.about-me-para{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 200px;
    background-color: grey;
    border-left: 4px solid black;
    margin: 0px 100px 100px 420px;
    padding-left: 50px;
  
}

  section.work-examples {
    width: 100%;
    height: 550px;
    display: inline-flex;
    background-color: grey;
}


section.work{
    width: 30%;
    height: 300px;
    background-color: grey;
    
}  






section.work  h2 {
    margin-left: 80px;
    font-size: 40px;
    color: black;
    margin-top: 20px;
    width: 30%;

} 

div.self-report{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 550px;
    background-color: grey;
    border-left: 4px solid black;
    margin: 0px 100px 40px 100px; 
}


div.image-container {

    display: flex;
    flex-wrap: wrap;
width: 100%;
height: 150px;
margin-left: 50px;
justify-content: flex-end;


}


div.image-container img{
    width: 100%;
    height: 250px;
    border: 2px solid aquamarine;
    
}

div.content-header {
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    font-size: 16px;
    margin-left: 50px;
    position: absolute;
    top: 600px;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

div.content-header h2{
    font-size: 14px;
   
}

div.big-cont {
    width: 100%;
    background-color: grey;
    height: 100px;
    /*margin-top: 20px;*/
display: inline-flex;
flex-wrap: wrap;
justify-content: space-between;
}

.box{
    width: 100%;
    height: 100px;
  border: solid 2px aquamarine;
  
}

div.image-container-2 {
    width: 40%;
    height: 100px;
    margin-left: 50px; 
}

div.image-container-3 {
    height: 100px;
width: 40%;
}

div.image-container-2 img{
    width: 100%;
    height: 100px;
    border-bottom:solid 2px aquamarine ;

}

div.image-container-3 img{
    width: 100%;
    height: 100px;
    border-bottom:solid 2px aquamarine ;
}

div.content-header-2 {
    position: absolute;
    top: 875px;
    left: 475px;
    background: aquamarine;
    width: 60px;
    z-index: 999;
    padding: 2px 2px;
}

div.content-header-3 {
    position: absolute;
    top: 875px;
    left:  870px;
    background: aquamarine;
    width: 60px;
    z-index: 999;
    padding: 2px 2px;
    
}

div.content-header-2 p {
    font-size: 12px;
    font-style: italic;
}

div.content-header-3 p {
    font-size: 12px;
    font-style: italic;
}


div.big-cont-2 {
    width: 100%;
    background-color: grey;
    height: 100px;
    margin-top: 20px;
display: inline-flex;
justify-content: space-between;
}

div.image-container-4 {
    width: 40%;
    height: 100px;
    margin-left: 50px; 
}

div.image-container-5 {
    height: 100px;
width: 40%;
}

div.image-container-4 img{
    width: 100%;
    height: 100px;
    border-bottom:solid 2px aquamarine ;

}

div.image-container-5 img{
    width: 100%;
    height: 100px;
    border-bottom:solid 2px aquamarine ;
}

div.content-header-4 {
    position: absolute;
    top: 975px;
    left: 475px;
    background: aquamarine;
    width: 60px;
    z-index: 999;
    padding: 2px 2px;
}

div.content-header-5 {
    position: absolute;
    top: 975px;
    left: 870px;
    background: aquamarine;
    width: 60px;
    z-index: 999;
    padding: 2px 2px;
    
}

div.content-header-4 p {
    font-size: 12px;
    font-style: italic;
}

div.content-header-5 p {
    font-size: 12px;
    font-style: italic;
}

.image-container:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.box:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/*@media only screen and (min-width: 978px ) {

div.avatar {

    margin-right: 650px;
    margin-top: 0px;

}

div.avatar img {
    margin-top: 0px;

}


header h2 {
    margin: 0px;
    
}

section.about-me {
    width: 100%;
    
}

.about-me-para {
    border-left: none;
}



  h2 {
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100%;    
    font-size: 25px;
    /*flex-direction: column;
    
}


div.about-me-para {
    margin: 0px;
    margin-left: 60px;
}

.work  {
    display: flex;
    flex-wrap: wrap;
    width: 400%;
    height: 100px;
    flex-direction: column;
}

.work h2 {
    height: 50px;
    line-height: 100px;
    
}

.self-report {
    margin-top: 50px;
}

.about-me, h2 {
    height: 100px;
    text-align: center;
    width: 100%;    
    font-size: 25px;
  
}

/*section.work {
    width: 700%;
    height: 50px;
    text-align: center;
    margin-bottom: 100px;

}

section.work h2 {
    font-size: 22px;
    text-align: center;
} */












